<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Delete User</title>
</head>
<body>


<form action="/users" method="post">
<input type="hidden" name="_method" value="DELETE">
  <div>
    <label for="delete">Delete User?</label>
 <!--    <input type="checkbox" name="delete"> -->
    
  </div>

<!--   <div>
    <label for="last"> Last name:</label>
    <input type="text" name="last">
  </div> -->

  <input type="submit" value="Add User">
</form> 

  
</body>
</html>